:root {
    --menu-width: 30px;
    --timing-animation: .8s;
    --menu-padding: 10px;
    --bg-color: white;
}

body {
    margin: 0;
}

.spainner-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-color);
}

.spainner {
    position: relative;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--menu-width);
    height: var(--menu-width);
    overflow: hidden;
    background-color: #f1f1f1;
}

.spainner-line {
    position: absolute;
    width: calc(var(--menu-width) - var(--menu-padding));
    height: calc(var(--menu-width) - var(--menu-padding));
    border-top: var(--menu-width) solid #0052eb;
    border-left: var(--menu-width) solid #0052eb;
    animation: spin var(--timing-animation) infinite;
}

.spainner-circel {
    position: relative;
    border-radius: 50%;
    width: calc(var(--menu-width) - var(--menu-padding));
    height: calc(var(--menu-width) - var(--menu-padding));
    background-color: var(--bg-color);
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}